.customer_view
  .container
    %h1 Customers
    %div{align: "right"}
      = link_to 'Add Customer', new_customer_path, class: "btn btn-primary"
    = form_tag(customers_path, method: :get, class: "form-inline") do
      = text_field_tag :search_customer_name, params[:search_customer_name], placeholder: "Name", class: "form-control autocomplete", autocomplete: "off", data: {url: "/references"}
      = text_field_tag :search_customer_username, params[:search_customer_username], placeholder: "Username", class: "form-control", autocomplete: "off"
      = submit_tag 'Search', class: "btn btn-primary"
    %table.table.table-responsive.table-hover
      %thead
        %tr
          %th Name
          %th Address
          %th Number
          %th Username
          %th Email
          %th{:colspan => "3"} Action
      %tbody
        - @customers.each do |customer|
          %tr
            %td
              = customer.name
            %td
              = customer.address
            %td
              = customer.number
            %td
              = customer.username
            %td
              = customer.email
            %td
              = link_to 'Show', customer
            %td
              = link_to 'Edit', edit_customer_path(customer)
            %td
              = link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }
    
    %hr
    %div.d-flex.justify-content-center
      = paginate @customers

