.laptop_view
  .container
    %h1 Laptops
    %div{align: "right"}
      = link_to 'Add Laptop',   new_laptop_path, class: "btn btn-primary"
    = form_tag(laptops_path, method: :get, class: "form-inline") do
      = text_field_tag :search_laptop_name, params[:search_laptop_name], placeholder: "Laptop name", class: "form-control"
      = text_field_tag :search_processor, params[:search_processor], placeholder: "Laptop processor", class: "form-control"
      = select_tag "brand_id", options_from_collection_for_select(@brands, "id", "name", @brand_name), {include_blank: "Select Brand" ,class: "form-control" }
      = submit_tag 'Search', class: "btn btn-primary"
    %table.table.table-hover.table-responsive
      %thead
        %tr
          %th Name
          %th Brand
          %th Category
          %th Ram
          %th Hdd
          %th Processor
          %th Screen
          %th Graphics card
          %th Available
          %th{:colspan => "3"} Action
          %th
      %tbody
        - @laptops.each do |laptop|
          %tr
            %td
              = laptop.name
            %td
              = laptop.brand.name
            %td
              - laptop.categories.each do |category|
                = category.name
            %td
              = laptop.ram
            %td
              = laptop.hdd
            %td
              = laptop.processor
            %td
              = laptop.screen
            %td
              = laptop.graphics_card
            %td
              = laptop.available
            %td
              = link_to 'Show', laptop
            %td
              = link_to 'Edit', edit_laptop_path(laptop)
            %td
              = link_to 'Destroy', laptop, method: :delete, data: { confirm: 'Are you sure?' }
            %td
              = render 'send_detail', laptop: laptop
              
    %hr
    %div.d-flex.justify-content-center
      = paginate @laptops