.laptop_view
  .container
    %h1 Laptops
    %div{align: "right"}
      = link_to 'Add Laptop', new_laptop_path, class: "btn btn-primary"
    = form_tag(laptops_path, method: :get, class: "form-inline") do
      = select_tag "brand_id", options_from_collection_for_select(@brands, "id", "name", @brand_name), {prompt: "Select Brand", class: "form-control dependent-dropdown", id: "brand_id", data: {url: "/select-brand?brand_id=", target: "laptop_id"} }
      = select_tag "laptop_id", options_from_collection_for_select(@laptops, "id", "name", @laptop_name), {prompt: "Select laptop" , class: "form-control", id: "laptop_id" }
      = text_field_tag :search_processor, params[:search_processor], placeholder: "Processor", class: "form-control autocomplete", autocomplete: "off", data: {url: "/auto_search"}
      = text_field_tag :search_screen, params[:search_screen], placeholder: "Screen", class: "form-control"
      = text_field_tag :search_graphics_card, params[:search_graphics_card], placeholder: "Graphics-card", class: "form-control"

      = submit_tag 'Search', class: "btn btn-primary"
    %table.table.table-hover.table-responsive
      %thead
        %tr
          %th Id
          %th Name
          %th Brand
          %th Category
          %th Ram
          %th Hdd
          %th Processor
          %th Screen
          %th Graphics card
          %th Available
          %th{:colspan => "3"} Action
          %th
      %tbody
        - @laptops.each do |laptop|
          %tr
            %td
              = laptop.id
            %td
              = laptop.name
            %td
              = laptop.brand.name
            %td
              - laptop.categories.each do |category|
                = category.name
            %td
              = laptop.ram
            %td
              = laptop.hdd
            %td
              = laptop.processor
            %td
              = laptop.screen
            %td
              = laptop.graphics_card
            %td
              = laptop.available
            %td
              = link_to 'Show', laptop
            %td
              = link_to 'Edit', edit_laptop_path(laptop)
            %td
              = link_to 'Destroy', laptop, method: :delete, data: { confirm: 'Are you sure?' }
            %td
              = form_tag(laptop_send_detail_path(laptop_id: laptop.id), method: :get) do
                = text_field_tag :email, params[:email] ,placeholder: "Enter email", class: "form-control"
                = submit_tag 'Send detail'           
    %hr
    %div.d-flex.justify-content-center
      = paginate @laptops